# Do not allow directory browsing

Options All -Indexes +ExecCGI

# Custom error documents

ErrorDocument 400 /error.php?code=400
ErrorDocument 401 /error.php?code=401
ErrorDocument 403 /error.php?code=403
ErrorDocument 404 /error.php?code=404
ErrorDocument 500 /error.php?code=500

# Switch rewrite engine on

RewriteEngine On

# Prevent hot-linking (protect images and ZIPs)

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://.*\.logiqx\.com/ [NC]
RewriteCond %{HTTP_REFERER} !^http://logiqx/ [NC]
RewriteCond %{HTTP_REFERER} !^http://.*\.mikeg\.ws/ [NC]
RewriteRule ^.+\.(jpe?g|gif|png|zip)$ - [F,NC]

# Redirect http://logiqx.com to http://www.logiqx.com

RewriteCond %{HTTP_HOST} ^logiqx.com$ [NC]
RewriteRule ^(.*)$ http://www.logiqx.com/$1 [R=301,L]

# Rewrite shortened URLs (e.g. http://www.logiqx.com/Tools/)

RewriteRule ^([^/]+)/$ /$1/$1.php [L]
RewriteRule ^(.+)/([^/]+)/$ /$1/$2/$2.php [L]
