/* --- Standard Style --- */

body
{
	background-color: #ecf5ff;
}

img
{
	border: 0;
}

h1
{
	font-family: arial, sans-serif;
	font-size: 14pt;
	text-align: center;
}

h2
{
	font-family: arial, sans-serif;
	font-size: 12pt;
	text-align: center;
}

p
{
	font-family: arial, sans-serif;
	font-size: 10pt;
	text-align: center;
}

pre.small
{
	font-size: 8pt;
}

p.huge
{
	font-size: 15pt;
}

ul
{
	font-family: arial, sans-serif;
	font-size: 10pt;
	text-align: center;
}

ol
{
	font-family: arial, sans-serif;
	font-size: 10pt;
	text-align: center;
}

table
{
	width: 100%;
	font-family: arial, sans-serif;
	font-size: 10pt;
}

colgroup
{
	text-align: center;     /* Needed by IE4 as it doesn't auto center */
}

/* --- Main Page Layout (menu on left, etc) --- */

table.layout td
{
	vertical-align: top;
	text-align: left;
	empty-cells: show;
}

/* --- Links Page --- */

table.links td
{
	width: 50%;
	vertical-align: bottom;
	text-align: center;
	empty-cells: show;
}

/* --- News --- */

table.news td
{
	background-color: #cceeff;
}

/* --- Guides/FAQs --- */

h1.guide
{
	text-align: left;
}

h2.guide
{
	text-align: left;
}

p.guide
{
	text-align: left;
}

p.code
{
	font-family: courier, monospace;
	text-align: left;
}

table.guide
{
	border: outset 1pt;
}

table.guide th
{
	text-align: left;
	border: inset 1pt;
	background-color: #aaccdd;
}

table.guide td
{
	text-align: left;
	border: inset 1pt;
	background-color: #cceeff;
}

ul.guide
{
	text-align: left;
}

ol.guide
{
	text-align: left;
}

