body
{
	background-color: #ecf5ff;
}

h2
{
	font-family: arial, sans-serif;
	text-align: center;
}

p
{
	font-family: arial, sans-serif;
	font-size: 10pt;
	text-align: center;
}

img
{
	border: 0;
}

small
{
	font-size: 8pt;
}

table
{
	width: 100%;
}

table.menu
{
	background-color: white;
	width: 100%;
}

colgroup
{
	text-align: center;     /* Needed by IE4 as it doesn't auto center */
}

table.layout td
{
	vertical-align: top;
	text-align: center;
	empty-cells: show;
}

table.links td
{
	width: 50%;
	vertical-align: bottom;
	text-align: center;
	empty-cells: show;
}

table.guide
{
	border: outset 1pt;
}

table.guide td
{
	text-align: left;
	border: inset 1pt;
}

table.guide td.green
{
	text-align: left;
	border: inset 1pt;
	background-color: #ccffcc;
}

p.guide
{
	text-align: left;
}

ul.guide
{
	text-align: left;
}

ol.guide
{
	text-align: left;
}

h1.guide
{
	text-align: left;
	font-size: 1pc;
}

p.code
{
	font-family: courier;
	text-align: left;
}

p.huge
{
	font-size: 15pt;
}


