# Do not allow browsing

Options All -Indexes

# Switch rewrite engine on

RewriteEngine On

# Do not allow external linking to images and ZIPs

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://waagle.logiqx.com [NC]
RewriteRule ^.+\.(jpe?g|gif|png|zip)$ - [F,NC]

# Redirect http://www.waagle.logiqx.com and http://www.logiqx.com/waagle/

RewriteCond %{HTTP_HOST} ^www.waagle.logiqx.com$ [NC,OR]
RewriteCond %{REQUEST_URI} ^/waagle/.*$
RewriteRule ^(.*)$ http://waagle.logiqx.com/$1 [R=301,L]

